{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Stock - {{ title }}{% endblock title %}


{% block content %}

<div class="container mt-5 p-3 px-5 bg-white rounded">

    <div class="row gx-3 justify-content-around">
        <div class="col-12">
            <h1>{{ title }}</h1>
            <legend class="text-danger">{{ sub_title }}</legend>
        </div>
        <!-- <div class="col-3 align-self-center">
            <input type="button" class="btn btn-secondary btn-large" value="Cadastrar novo produto">
        </div> -->
    </div>

    <div class="row justify-content-center gx-3 mt-5 mb-3">
        <div class="col-10">
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="row g-3 mt-5 justify-content-center align-items-center justify-content-around">
                        <input type="submit" class="btn btn-danger col-4" value="Excluir">
                        <a class="btn btn-secondary col-4" type="button" href="{% url 'list-items' %}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}