{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Stock - {{ title }}{% endblock title %}


{% block content %}

<div class="container mt-5 p-3 px-5 bg-white rounded">
    <div class="row gx-3 justify-content-around">
        <div class="col-9">
            <h1>{{ title }}</h1>
            <legend>{{ sub_title }}</legend>
        </div>
        <div class="col-3 align-self-center">
            <a type="button" class="btn btn-success btn-sm" href="{% url 'create-item' %}">Cadastrar novo
                produto</a>
        </div>
    </div>

    <div class="row justify-content-center gx-5 mt-5 mb-3">
        <div class="col-3 bg-light rounded py-3">
            {% csrf_token %}
            {% crispy form %}
            <!-- <input type="submit" value="Pesquisar" class="btn btn-success"> -->
        </div>
        <div class="col-9 mt-4">
            <table class="table table-hover">
                <caption>Lista de produtos</caption>
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.id }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <a class="btn btn-secondary btn-sm" href="{% url 'update-item' item.id %}"
                                role="button">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>

            {% if products %}
            <a class="btn btn-light btn-link btn-sm" href="{% url 'export-data-to-csv' %}">Exportar</a>
            {% endif %}
        </div>
    </div>


</div>

{% endblock content %}